<!DOCTYPE html>

<html>
    <head>
        <title>myBlog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        
    </head>
    <body>
        <div class="ui top fixed menu">
            <div class="header item">
                <i class="code icon"></i>
                myBlog
            </div>
            <a class="item" href="/">
                Home
            </a>
            <div class="right menu">
                <div class="item">
                    <a href="/blogs/new" class="ui primary button">
                        New Post
                    </a>
                </div>
                
            </div>
            
        </div>